body {
    margin: 0px;
    overflow-x: hidden;
}

.banner-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 0.5fr;
    padding: 10px 50px 0px 50px;
    align-items: center;
    overflow: hidden;
}

.logo {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact-container {
    grid-area: 1 / 3 / 2 / 4;
    padding-bottom: 10px;
}

.social {
    height: 30px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin: 0.75rem;
}

.social:hover {
    filter: brightness(70%);
    transform: scale(1.5);
}

.contact-list {
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.contact-container > p {
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.header-background {
    background: linear-gradient(300deg,#a01010,#F70000,#d9312b,#d3463f);
    background-size: 600% 100%;
    /* animation-name: gradient-background-animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 10s; */
    animation: 
        gradient-background-animation 10s ease infinite,
        slide-in-top 1.5s linear 1;
}

@keyframes gradient-background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.nav-menu {
    grid-column: span 3;
}

.nav-list {
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item{
    text-align: center;
    flex: 0 1 50px;
    transition: all 0.4s ease-in-out;
}

.nav-item:hover {
    filter: brightness(70%);
    transform: scale(1.5);
}

.nav-item > a {
    text-decoration: none;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.nav-menu label, #menu {
    display: none;
}

#name {
    background: linear-gradient(rgba(255,255,255,.70), rgba(255,255,255,.70)), url("./assets/images/background.jpg");
    padding: 10px 0px 10px 0px;
}

.name-background {
    animation: slide-in-left linear 1.5s 1;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.name-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.name-style {
    background-color: #d3463f;
    border-radius: 10px;
    box-shadow: 0 1rem 0 #a01010;
}

.name-style:hover {
    animation: spin 2s linear infinite;
    box-shadow: none;
}

@keyframes spin {
    0%   {background-color:red; transform: rotate(0deg);}
    25%  {background-color:yellow; transform: rotate(90deg);}
    50%  {background-color:blue; transform: rotate(180deg);}
    75%  {background-color:green; transform: rotate(270deg);}
    100% {background-color:red; transform: rotate(360deg);}
}

h1 {
    position: relative;
    margin: 0%;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: white;
    letter-spacing: 2px;
}

.carousel-background {
    background: linear-gradient(300deg,#a01010,#F70000,#d9312b,#d3463f);
    padding-bottom: 10px;
    background-size: 600% 100%;
    overflow: hidden;
    animation: 
        gradient-background-animation 10s ease infinite,
        slide-in-right 1.5s linear 1;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.carousel-background > h2 {
    text-align: center;
    margin: 0%;
    padding: 10px 0px 10px 0px;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.carousel-item > img {
    height: 50px;
}

.carousel-container {
    display : flex;
    justify-content: space-evenly;
    animation : slide 18s 1.5s linear infinite;
    gap: 1rem;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel-item {
    text-align: center;
    flex-basis: 200px;
}

.carousel-item > p {
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin: 0%;
}

.additional-container > p {
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: black;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
}

.footer-content > p {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 20px 0px 20px 50px;
    margin: 0px;
}

#footer {         
    animation: slide-in-right 1.5s linear 1;
}

#additional-content {
    animation: slide-in-left 1.5s linear 1;
}

@media (max-width : 900px) {
    .banner-container {
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
    }

    .logo {
        grid-area: 1 / 1 / 2 / span 3;
    }

    .contact-container {
        grid-area: auto / span 3 ;
        justify-items: center;
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 10px;
        text-align: end;
        right: 0px;
        z-index: 1;
        width: 100%;
    }

    .nav-menu label {
        display: block;
        padding-right: 10px;
        color: white;
        font-size: 2rem;
    }

    .nav-list {
        display: none;
        background-color: rgb(49, 49, 49);
    }

    .nav-menu input:checked ~ .nav-list {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 500px) {
    .carousel-container {
        display : flex;
        justify-content: space-between;
        animation : slide 18s 1.5s linear infinite;
        gap: 1rem;
    }
    
    @keyframes slide {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-150%);
        }
    }
}